# Day 2

## 복습

``Ctrl`` + ``슬래시 (/)`` -> ``#`` (주석)  
``a`` -> 셀 추가  
``dd`` or ``x`` -> 셀 삭제  
``m`` -> 마크다운으로 변경

``변수명``은 **영어, 숫자, 언더바(_)** 만 입력 가능  
단 숫자는 맨 앞에 오면 안 됨

범주형 변수  
연속형 변수

In [196]:
a = 'she\'s gone'
a

"she's gone"

인덱싱 : 변수명[숫자]   
슬라이싱 : 변수명[숫자:숫자]

In [197]:
sentence = "My Hero is Ironman."
sentence[::2] # 처음부터 끝까지 2-1칸씩 띄어서 읽어줘
sentence[::1] # 처음부터 끝까지 1-1칸씩 띄어서 읽어줘

'My Hero is Ironman.'

---
## 포매팅 해보기

In [198]:
lunch_menu = "곱창볶음"
lunch_menu2 = "꽈배기"
lunch_menu3 = "짬뽕"

print("오늘의 메뉴는 " + lunch_menu + "입니다")

# 포매팅 해보기 (퍼센트 (%) 사용해보는 방식, 함수 사용하는 방식)
print("오늘의 메뉴는 %s입니다."%lunch_menu)
print("오늘의 메뉴는 %s과 %s입니다."%(lunch_menu, lunch_menu3))

print("오늘의 메뉴는 {}입니다.".format(lunch_menu))
print("오늘의 메뉴는 {0}과 {1}입니다.".format(lunch_menu, lunch_menu2))
print(f"오늘의 메뉴는 {lunch_menu}와 {lunch_menu2}입니다.")

오늘의 메뉴는 곱창볶음입니다
오늘의 메뉴는 곱창볶음입니다.
오늘의 메뉴는 곱창볶음과 짬뽕입니다.
오늘의 메뉴는 곱창볶음입니다.
오늘의 메뉴는 곱창볶음과 꽈배기입니다.
오늘의 메뉴는 곱창볶음와 꽈배기입니다.

``%s`` => 문자  
``%d`` => 숫자

---

"{}".format()  
f"{}"

### 문제: 변수 x에 100을 대입하고, 변수 y에 200을 대입한 뒤, 변수 add에 x와 y의 합을 대입합니다.
- 그 후 대입한 변수를 바탕으로 아래 문자를 출력합니다
- "100과 200의 합은 300입니다."

In [199]:
x = 100
y = 200
add = x + y
print(f"{x}과 {y}의 합은 {add}입니다.")
print("{0}과 {1}의 합은 {2}입니다.".format(x, y, add))

100과 200의 합은 300입니다.
100과 200의 합은 300입니다.

## 여러 파이썬 함수(메서드) (count, find, upper, lower, title, replace, split, strip)

``count``  
``find``  
``upper``  
``lower``  
``title``  
``replace``  
``split``  
``strip``

In [200]:
song = "tell me tell me tetetete tell me"

In [201]:
song.count("tell me") # song 객체에 tell me가 몇 번 들어갔는지 알려줘

3

In [202]:
song.find("tetetete") # tetetete가 시작되는 지점을 알려줘

16

In [203]:
song.upper() # song 객체를 전부 대문자로 바꿔줘

'TELL ME TELL ME TETETETE TELL ME'

In [204]:
 song.lower() # song 객체를 전부 소문자로 바꿔줘

'tell me tell me tetetete tell me'

In [205]:
song.title() # song 객체에서 띄어쓰기를 기준으로 첫 글자만 대문자로 바꿔줘

'Tell Me Tell Me Tetetete Tell Me'

In [206]:
song.replace("tell", "talk to" ) # song.replace(바꾸고 싶은 글자, 바꿀 글자)

'talk to me talk to me tetetete talk to me'

In [207]:
song.split(" ") # " " (띄어쓰기)를 기준으로 전부 띄어서 보여줘

['tell', 'me', 'tell', 'me', 'tetetete', 'tell', 'me']

In [208]:
sentence = "암 유얼 맨. 암 유얼 맨 그대여. 다라다따 오늘도"

sentence.split(". ")

['암 유얼 맨', '암 유얼 맨 그대여', '다라다따 오늘도']

In [209]:
ah_ryeon = "           tell         "
ah_ryeon.strip()  # 양 끝에 있는 공백들을 지워줘

'tell'

In [210]:
ah_ryeon.rstrip() #오른쪽 공백만 지워줘

'           tell'

In [211]:
ah_ryeon2 = "............tell.........."
ah_ryeon.strip(" . ")

'tell'

## 연산자

In [212]:
1 + 1
1 - 1
2 * 2
2 / 2
int(2 / 2)

1

### 지수 연산

`` ** ``

In [213]:
3 ** 3 # 3의 3제곱 해줘

27

### 몫 연산, 나머지 연산

`` // `` , `` % ``

In [214]:
7 //3 # 7을 3으로 나눈 몫을 계산해줘

2

In [215]:
7 % 3 # 7을 3으로 나누고 난 후의 나머지를 계산해줘

1

### 문자열 연산  
문자열 연산은 문자열 끼리 **더하기**만 가능  
문자열과 숫자 조합은 **곱하기**만 가능

In [216]:
"안녕" + "하세요"

'안녕하세요'

In [217]:
"안녕" * 3

'안녕안녕안녕'

In [218]:
"2" + "10" + "7"

'2107'

In [219]:
str(2) + str(10) + str(7)

'2107'

## input()

In [220]:
a = input()

2

In [221]:
a

'2'

In [222]:
b = input("아이디를 입력하세요")

아이디를 입력하세요2

In [223]:
b

'2'

In [224]:
a + b

'22'

In [225]:
c = int(input("아이디를 입력하세요"))

아이디를 입력하세요2

In [226]:
c

2

In [227]:
a + b + str(c)

'222'

### 문제를 풀어보자 - 시간 파싱하기

2022년 08월 10일 14시 34분 29초

In [228]:
import datetime
datetime1 = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

In [229]:
datetime1

'2022-08-10 16:48:25'

In [230]:
datetime.datetime.now().strftime("%Y년 %m월 %d일 %H시:%M분:%S초")

'2022년 08월 10일 16시:48분:25초'

In [231]:
# input 함수를 써야할까????????????????????

datetime1
year = datetime1[:4]
month = datetime1[5:7]
day = datetime1[8:10]
hour = datetime1[11:13]
minute = datetime1[14:16]
second = datetime1[17:]

print(f"{year}년 {month}월 {day}일 {hour}시 {minute}분 {second}초")

2022년 08월 10일 16시 48분 25초

### 문제를 풀어보자 2

input 함수로 초 단위의 시간을 받습니다.  
그 시간을 시간, 분, 초로 나누어서 출력합니다.

예) 3653을 받으면, 1시간 0분 53초를 출력

In [232]:
time = int(input("초 단위의 시간을 입력해 주세요."))

hour = time//3600
minute = time%3600//60
second = time%60


print(f"{hour}시 {minute}분 {second}초")

초 단위의 시간을 입력해 주세요.2
0시 0분 2초

---

`` += ``

In [233]:
num = 3
num = num + 3
num

6

In [234]:
num += 3
num

9

## 논리형

**True** or **False**

In [235]:
1 > 3

False

In [236]:
1 < 3

True

In [237]:
1 >= 3

False

In [238]:
1 <= 3

True

In [239]:
1 == 3

False

In [240]:
1 != 3

True

In [241]:
type( 1 != 3)

bool

In [242]:
True + 1

2

In [243]:
True * True

1

In [244]:
1.0 == 1

True

and or

In [245]:
num = int(input("정수를 입력하세요: "))

num == 0 and num == 1
# num == 0 or num  == 1

정수를 입력하세요: 2

False

### 문제를 풀어 보자

input 함수로 num에 임의의 정수를 입력받습니다.  
입력된 수가 2의 배수이자, 3의 배수이면 True  
그렇지 않으면 False를 출력합니다.

In [246]:
num = int(input("정수를 입력하세요: "))

# True : 2의 배수 and 3의 배수
# False : 그 외

num%2==0 and num%3==0

정수를 입력하세요: 2

False

input 함수로 num에 임의의 정수를 입력받습니다.  
입력된 수가 2의 배수이거나, 3의 배수이면 True  
그렇지 않으면 False를 출력합니다.

In [247]:
num = int(input("정수를 입력하세요: "))

num%2==0 or num%3==0

정수를 입력하세요: 2

True

## 조건문 (if)

파이썬에서는 **블록**의 개념이 있다

In [248]:
money = int(input("내가 가진 돈: "))

if money >= 4000:
    print("택시를 타고 가자")
    
else:
    print("버스를 타고 가자")
    
print("와 집이다")

내가 가진 돈: 2
버스를 타고 가자
와 집이다

### 문제를 풀어보자

input 함수로 정수를 받습니다.  
만약 주어진 수가 3의 배수라면 "3의 배수입니다."를 출력  
아니라면 "3의 배수가 아닙니다."를 출력

In [249]:
num = int(input("3의 배수일까요오오오?"))

if num % 3 == 0:
    print("3의 배수입니다.")

else:
    print("3의 배수가 아닙니다.")

3의 배수일까요오오오?2
3의 배수가 아닙니다.

### elif

In [250]:
money = int(input("내가 가진 돈: "))

if money >= 4000:
    print("택시를 타고 가자")
    
elif money >= 1300 and money < 4000:
    print("버스를 타고 가자")
    
else:
    print("걸어 가자")
    
print("와 집이다")

내가 가진 돈: 2
걸어 가자
와 집이다

### 문제를 풀어보자 - 추석 선물 세트 구매

추석 선물 세트는 1개에 1만원  
추석 선물 세트를 11개 이상 사면 11개째부터 10% 할인되고  
추석 선물 세트를 몇 개 샀는지 input 함수로 받아 총 얼마인지 출력해 보기

In [251]:
chu = int(input("개수를 입력하세요"))
price = 10000  # 객체를 2개 쓰는거구나

if chu <= 10:
    price = chu * 10000
    print(price)
else:
    price = chu * 10000 - ((chu-10) * 1000)
    print(price)

개수를 입력하세요2
20000

## 리스트, 튜플

### 리스트 []

In [274]:
a = [1, 2, 3, 4]

type(a)

list

In [275]:
b = ["My", "name", "is", "batman"]
type(b)

list

In [276]:
c = [1, 2, "My", "name"]
type(c)

list

In [277]:
d = [1, 2, [1, 2]]
d

[1, 2, [1, 2]]

In [278]:
e = []
e

[]

In [279]:
f = [7, 8, 9, 10]
f[0]

7

In [280]:
f[0:3]

[7, 8, 9]

In [281]:
[7, 8, 9, 10][0]

7

In [282]:
g = [1, 2, ["a", "b"]]
g[2][0]

'a'

### 튜플 ()

In [283]:
h = ()
i = (1, 2, 3, 4)
j = ("a", "b", "c", "d")
k = (1, 2, "a", "b")
l = (1, 2, ["a", "b"])
m = (1, 2, ("a", "b"))

리스트와 튜플의 차이점:  
리스트는 순서가 있고 리스트에 뭔가 더 더하거나 뺄 수 있지만 튜플은 그렇지 않다

### 리스트2

In [284]:
a = [1, 2, 3, 4]
b = [5, 6, 7, 8]
a + b

[1, 2, 3, 4, 5, 6, 7, 8]

#### append()

값을 리스트 맨 뒤에 추가

In [285]:
a.append(5)
a

[1, 2, 3, 4, 5]

#### insert()

``insert(위치, 넣고 싶은 숫자)``

In [286]:
a. insert(0, 8) #위치, 8이라는 입력값을 넣고 싶다
a

[8, 1, 2, 3, 4, 5]

In [287]:
# 맨 뒤에 20을 넣고 싶어요!!  근데 append도 쓰고 싶고 insert도 쓰고 싶어요
a.append(20)
a.insert(-1, 20)
a

[8, 1, 2, 3, 4, 5, 20, 20]

#### del()
반대로 지우기 (인덱싱 써서)  
del a[]

In [288]:
del a[1]
a

[8, 2, 3, 4, 5, 20, 20]

#### remove()
특정값을 지우기

In [289]:
a.remove(20)
a

[8, 2, 3, 4, 5, 20]

#### 숫자 바꾸기

In [290]:
a[0] = 5
a

[5, 2, 3, 4, 5, 20]

#### sort()

오름차순

In [292]:
a.sort()
a

[2, 3, 4, 5, 5, 20]

내림차순으로도 바꾸고 싶어요!!!

In [293]:
a.sort(reverse = True) #parameter reverse = True 추가
a

[20, 5, 5, 4, 3, 2]

#### a.reverse()
반전

In [294]:
a.reverse()
a

[2, 3, 4, 5, 5, 20]

#### len()
원소의 길이 수

In [296]:
len(a)

6

``함수``는 괄호를 열고 괄호 안에 조사하고 싶은 친구 넣는 것  
``메서드``는 조사하고 싶은 친구 옆에 점(.)찍고 함수()로 쓰는 것

In [303]:
a

[20, 5, 5, 4, 3, 2]

#### in

In [311]:
convi = ["사이다", "콜라", "주스"]
"콜라" in convi
# "카프리썬" in convi

True

In [314]:
like = "나는 콜라가 좋아"
"콜라" in like

True

#### 문제를 풀어보자

In [9]:
import random

random.random() # 무작위 수 출력해줘

0.44338323065585317

In [10]:
l = [1, 2, 3, 4, 5]
random.choice(l) # l 객체 안에 랜덤으로 하나 골라줘

2

**가위바위보 게임 만들기**

플레이어에게 **가위, 바위, 보** 중 하나를 입력하게 만든다  
플레이어가 말을 안 듣고 **가위, 바위, 보** 중 어느 것도 내지 않았을 때에는 **"잘못된 입력입니다."**를 출력합니다.
컴퓨터는 동일한 확률로 가위, 바위, 보 중 하나를 낸다  
플레이어의 입력과 컴퓨터의 입력을 비교해서 승부를 결정한다  
출력문은 **"당신은 00을 냈고, 컴퓨터는 00을 냈습니다. 당신이 이겼습니다"**와 같은 형식으로 합니다.

In [14]:
possible_choice = ["가위", "바위", "보"]
player_choice = input("가위, 바위, 보 중 하나를 선택해 주세요.")

if player_choice not in possible_choice:
    print("잘못된 입력입니다.")
    
else:
    computer_choice = random.choice(possible_choice)
    if (player_choice == "가위" and computer_choice == "보") or (player_choice == "바위" and computer_choice == "가위") or (player_choice == "보" and computer_choice == "바위"):
        print(f"당신은 {player_choice}를 냈고, 컴퓨터는 {computer_choice}를 냈습니다. 당신이 이겼습니다.")
    elif player_choice == computer_choice:
        print(f"당신은 {player_choice}를 냈고, 컴퓨터는 {computer_choice}를 냈습니다. 당신이 비겼습니다.")
    else:
        print(f"당신은 {player_choice}를 냈고, 컴퓨터는 {computer_choice}를 냈습니다. 당신이 졌습니다.")

가위, 바위, 보 중 하나를 선택해 주세요.가위
당신은 가위를 냈고, 컴퓨터는 보를 냈습니다. 당신이 이겼습니다.