## 변수

정수형  
실수형  
문자형  
논리형

## 인덱싱과 슬라이싱

In [8]:
a = 3
b = 5
add = a + b
add

8

In [10]:
"add"

'add'

In [20]:
["apple", "banana", ["melon", "watermelon"]][2][1][0]

'w'

In [32]:
fruit = [["mango", "grape"], ["apple", "banana", ["melon", "watermelon"]]]

In [33]:
fruit[0][1][2]

'a'

In [41]:
"watermelon"[-5:]

'melon'

In [43]:
"watermelon"[:5]

'water'

In [46]:
"오늘의 메뉴"
fruit1 = "망고"
fruit2 = "파인애플"
fruit3 = "멜론"

print(f"시장에 가면 {fruit1}이 있다.")

시장에 가면 망고이 있다.

In [49]:
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]

print(f"시장에 가면 {fruit[0]}도 있고")
print("시장에 가면 {}도 있고".format(fruit[0]))

시장에 가면 mango도 있고
시장에 가면 mango도 있고

In [55]:
sentence = "There is a mango in the market"

sentence.count("a")

3

In [56]:
sentence.upper()

'THERE IS A MANGO IN THE MARKET'

In [57]:
sentence.lower()

'there is a mango in the market'

In [59]:
sentence.split(" ")

['There', 'is', 'a', 'mango', 'in', 'the', 'market']

In [61]:
sentence.replace(fruit[0], fruit[1])

'There is a grape in the market'

In [62]:
sentence

'There is a mango in the market'

In [63]:
sentence.replace("mango", "")

'There is a  in the market'

In [64]:
sentence

'There is a mango in the market'

In [65]:
print( 5 // 2 ) # 5 나누기 2의 몫 구하기
print( 5 / 2)
print( 5 % 2 ) # 5 나누기 2의 나머지 구하기

2
2.5
1

In [66]:
num = 8
num = num + 1
num

9

In [67]:
num += 1

In [68]:
num

10

In [73]:
print(7 + 7)
print(int("7") + int("7"))

14
14

### 다음 중 결과 값이 다른 하나는?

In [74]:
5 + 6

11

In [75]:
int(5) + int(6)

11

In [76]:
int(5 + 6)

11

In [77]:
int("5") + int("6")

11

In [78]:
int("5"+"6")

56

## 논리형

In [79]:
1 > 3

False

In [81]:
1 == 3

False

## 조건문

```python
if 명제:
    명제가 참일 때 실행하는 코드
else:
    명제가 거짓일 때 실행하는 코드
```

In [82]:
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]

"mango" in fruit

True

In [83]:
["mango, grape"] in fruit

False

In [85]:
"mango" and "grape" in fruit

True

In [86]:
"mango" or "grape" in fruit

'mango'

In [111]:
title = "tell me"
lyrics = '\n너도 날 좋아할 줄은 몰랐어\n어쩌면 좋아 너무나 좋아\n꿈만 같아서 나 내 자신을 자꾸 꼬집어봐\n너무나 좋아 니가 날 혹시 안 좋아할까 봐\n혼자 얼마나 애태운 지 몰라\n그런데 너도 날 사랑한다니\n어머나 다시 한 번 말해봐\n\nTell me, tell me, tell tell tell tell tell tell me\n나를 사랑한다고 날 기다려왔다고\nTell me, tell me, tell tell tell tell tell tell me\n내가 필요하다 말해 말해줘요\nTell me tell me, tell tell tell tell tell tell me\n자꾸만 듣고 싶어 계속 내게 말해줘\nTell me, tell me, tell tell tell tell tell tell me\n꿈이 아니라고 말해 말해줘요\n\n어쩜 내 가슴이 이렇게 뛰니\n가슴이 정말 터질 것 같아 니가 날 볼 때면\n전기에 감전된 사람처럼 전기가 올라\n\n얼마나 오래 기다린 지 몰라\n얼마나 오래 꿈 꿨는지 몰라\n그런데 너도 날 사랑한다니\n어머나 다시 한 번 말해봐\n\nTell me, tell me, tell tell tell tell tell tell me\n나를 사랑한다고 날 기다려왔다고\nTell me, tell me, tell tell tell tell tell tell me\n내가 필요하다 말해 말해줘요\nTell me tell me, tell tell tell tell tell tell me\n자꾸만 듣고 싶어 계속 내게 말해줘\nTell me, tell me, tell tell tell tell tell tell me\n꿈이 아니라고 말해 말해줘요\n\n♬\n\nTell me, tell me, tell me you want me\nwant me, want me too. Tell me, tell me\ntell me you love me too, love me too.\n\nHit me one time baby 다시 한번\nOkay 방금한 건 알지만 또 한번\n예 계속 말해줘 들어도 들어도 듣고 싶어\n어쩜 이런 일이 꿈인가 싶어\n어머나 좋아서 어쩌나 Baby baby\n\nTell me, tell me, tell tell tell tell tell tell me\n나를 사랑한다고 날 기다려왔다고\nTell me, tell me, tell tell tell tell tell tell me\n내가 필요하다 말해 말해줘요\nTell me tell me, tell tell tell tell tell tell me\n자꾸만 듣고 싶어 계속 내게 말해줘\nTell me, tell me, tell tell tell tell tell tell me\n꿈이 아니라고 말해 말해줘요\nTell me, tell me, tell tell tell tell tell tell me\n'

In [112]:
# tell me

if title in lyrics:
    print("yes")
else:
    print("no")

yes

In [108]:
# 가사 속 tell me 개수 구하기
lyrics.count("tell me")

30

In [117]:
# 가사 속 tell me 만 삭제하기
# translate(): 여러 개 문자열 한 번에 삭제
# replace
lyrics = lyrics.replace("\n", " ")
lyrics = lyrics.lower()
lyrics.replace("tell me", " ")

' 너도 날 좋아할 줄은 몰랐어 어쩌면 좋아 너무나 좋아 꿈만 같아서 나 내 자신을 자꾸 꼬집어봐 너무나 좋아 니가 날 혹시 안 좋아할까 봐 혼자 얼마나 애태운 지 몰라 그런데 너도 날 사랑한다니 어머나 다시 한 번 말해봐   ,  , tell tell tell tell tell   나를 사랑한다고 날 기다려왔다고  ,  , tell tell tell tell tell   내가 필요하다 말해 말해줘요    , tell tell tell tell tell   자꾸만 듣고 싶어 계속 내게 말해줘  ,  , tell tell tell tell tell   꿈이 아니라고 말해 말해줘요  어쩜 내 가슴이 이렇게 뛰니 가슴이 정말 터질 것 같아 니가 날 볼 때면 전기에 감전된 사람처럼 전기가 올라  얼마나 오래 기다린 지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 너도 날 사랑한다니 어머나 다시 한 번 말해봐   ,  , tell tell tell tell tell   나를 사랑한다고 날 기다려왔다고  ,  , tell tell tell tell tell   내가 필요하다 말해 말해줘요    , tell tell tell tell tell   자꾸만 듣고 싶어 계속 내게 말해줘  ,  , tell tell tell tell tell   꿈이 아니라고 말해 말해줘요  ♬   ,  ,   you want me want me, want me too.  ,     you love me too, love me too.  hit me one time baby 다시 한번 okay 방금한 건 알지만 또 한번 예 계속 말해줘 들어도 들어도 듣고 싶어 어쩜 이런 일이 꿈인가 싶어 어머나 좋아서 어쩌나 baby baby   ,  , tell tell tell tell tell   나를 사랑한다고 날 기다려왔다고  ,  , tell tell tell tell tell   내가 필요하다 말해 말해줘요    , tell tell tell tell tell   자꾸만 듣고 싶어 계속 내게 말해줘  ,  , tell tell tell tell tell   꿈이 아니라고 말해 말해줘요  ,  , tell tell tell tell tell   '

In [124]:
# 가리는 경우 -> 마스킹 (masking)
lyrics = lyrics.lower()
lyrics = lyrics.replace("tell me", "@@@@@@@@@")
lyrics = lyrics.replace("  ", " ")
lyrics.strip() # lyrics[1:-1]

'너도 날 좋아할 줄은 몰랐어 어쩌면 좋아 너무나 좋아 꿈만 같아서 나 내 자신을 자꾸 꼬집어봐 너무나 좋아 니가 날 혹시 안 좋아할까 봐 혼자 얼마나 애태운 지 몰라 그런데 너도 날 사랑한다니 어머나 다시 한 번 말해봐 @@@@@@@@@, @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 나를 사랑한다고 날 기다려왔다고 @@@@@@@@@, @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 내가 필요하다 말해 말해줘요 @@@@@@@@@ @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@@@@, @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 꿈이 아니라고 말해 말해줘요 어쩜 내 가슴이 이렇게 뛰니 가슴이 정말 터질 것 같아 니가 날 볼 때면 전기에 감전된 사람처럼 전기가 올라 얼마나 오래 기다린 지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 너도 날 사랑한다니 어머나 다시 한 번 말해봐 @@@@@@@@@, @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 나를 사랑한다고 날 기다려왔다고 @@@@@@@@@, @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 내가 필요하다 말해 말해줘요 @@@@@@@@@ @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@@@@, @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 꿈이 아니라고 말해 말해줘요 ♬ @@@@@@@@@, @@@@@@@@@, @@@@@@@@@ you want me want me, want me too. @@@@@@@@@, @@@@@@@@@ @@@@@@@@@ you love me too, love me too. hit me one time baby 다시 한번 okay 방금한 건 알지만 또 한번 예 계속 말해줘 들어도 들어도 듣고 싶어 어쩜 이런 일이 꿈인가 싶어 어머나 좋아서 어쩌나 baby baby @@@@@@@@@, @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 나를 사랑한다고 날 기다려왔다고 @@@@@@@@@, @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 내가 필요하다 말해 말해줘요 @@@@@@@@@ @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@@@@, @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 꿈이 아니라고 말해 말해줘요 @@@@@@@@@, @@@@@@@@@, tell tell tell tell tell @@@@@@@@@'

## 리스트, 튜플

## 데이터 추가
1. 문자열: 덧셈 연산  
2. 리스트: append, insert

In [173]:
menu = "짜장면, 짬뽕, 탕수육"

menu = menu + ", 군만두"

menu

'짜장면, 짬뽕, 탕수육, 군만두'

In [174]:
menu2 = ["짜장면", "짬뽕", "탕수육"]
menu2.append("군만두")
menu2

['짜장면', '짬뽕', '탕수육', '군만두']

In [175]:
menu2.insert(1, "팔보채")

In [176]:
menu2

['짜장면', '팔보채', '짬뽕', '탕수육', '군만두']

## 데이터 제거

```
1. 문자열: replace  
2. 리스트: del, remove, pop  
```

In [177]:
menu3 = menu
menu3 = menu3.replace(", 군만두", "")
menu3

'짜장면, 짬뽕, 탕수육'

In [178]:
menu2.remove("탕수육")
menu2

['짜장면', '팔보채', '짬뽕', '군만두']

In [179]:
menu2.pop()
menu2

['짜장면', '팔보채', '짬뽕']

In [180]:
menu2[1] = "유산슬"
menu2

['짜장면', '유산슬', '짬뽕']

In [181]:
fruit = [["mango", "grape"], ["apple", "banana", ["melon", "watermelon"]]]
# apple -> pineapple

fruit[1][0] = "pineapple"
fruit

[['mango', 'grape'], ['pineapple', 'banana', ['melon', 'watermelon']]]

## 반복문

```python
while 명제:
    명제가 참인 한 실행되는 코드
```

## 무한루프를 피하는 방법

1. 특정 조건에서 while문에 걸려 있는 명제가 **거짓**이 되도록 설계한다.  
2. **break**를 사용한다.

In [182]:
n = 0
while n < 3:
    print(n)
    n = n + 1

0
1
2

In [183]:
n = 0
while True:
    print(n)
    n += 1
    if n >= 3:
        break
    else:
        pass

0
1
2

In [207]:
# 문제
## 1000이 넘는 최초의 43의 배수 찾기

n = 1000
while n % 43 != 0:
    n += 1
print(n)

1032

In [209]:
n = 0
while n * 43 < 1000:
    n += 1
print(n * 43)

1032

In [211]:
n = 1000
while True:
    n += 1
    if n % 43 == 0:
        print(n)
        break
    else:
        pass

1032

In [213]:
# 43과 67의 공배수 구하기

# 내가 한 거
n = 10000
while (n % (43 * 67)) != 0:
    n+=1
print(n)

11524

In [219]:
# 강사님이 한 거

n = 10000
while (n % 43 != 0) or (n % 67 != 0):
    n+=1
print(n)

11524

In [214]:
43 * 67

2881

In [215]:
2881 * 426

11524

### for문

```python
for 변수 in 순서가 있는 자료형:
    코드
```

In [222]:
for i in [1, 2, 3, 4]:
    print(i**2)

1
4
9
16

In [238]:
# 문제: 구구단 3단
## 3 x 1 = 3 ... 3 x 9 = 27


for i in list(range(1, 10)):
    print("3 x {} = {}".format(i, 3*i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [240]:
# a와 b를 비교해서 같은 순서상에 원소가 같은 숫자들이면 1, 아니면 0


a = [1, 2, 3, 4, 5, 6, 7]
b = [2, 4, 3, 6, 5, 3, 7]

# 정답: 3

for i, j in zip(a, b):
    if i == j:
        print(1)
    else:
        pass

1
1
1

In [244]:
n = 0
a = [1, 2, 3, 4, 5, 6, 7]
b = [2, 4, 3, 6, 5, 3, 7]

for i in range(len(a)):
    if a[i] == b[i]:
        n += 1
    else:
        pass
n

3

In [251]:
n = 0
a = [1, 2, 3, 4, 5, 6, 7]
b = [2, 4, 3, 6, 5, 3, 7]

for w, i in enumerate(a):
    if i == b[w]:
        n += 1
    else:
        pass
n

3

### 이중 for문

구구단 뽑기
```
1 x 1 = 1
.
.
.
9 x 9 = 81
```

In [262]:
for i in range(1, 10):
    for j in range(1, 10):
        print("{} x {} = {}".format(i, j, i * j))
    print("-------------------{}단이었습니다.----------------------------".format(i))

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
-------------------1단이었습니다.----------------------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
-------------------2단이었습니다.----------------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
-------------------3단이었습니다.----------------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
-------------------4단이었습니다.----------------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
-------------------5단이었습니다.----------------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
-------------------6단이었습니다.----------------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
-------------------7단이었습니다.----------------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
-------------------8단이었습니다.----------------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
-------------------9단이었습니다.----------------------------

## try문, except문

```python
try:
    에러가 날 수도 있는 코드가 에러가 나지 않을 경우에 실행될 코드
except:
    에러가 날 수도 있는 코드가 에러가 났을 때 실행될 코드
```

In [263]:
for i in range(10):
    try:
        print(1/(7-i))
    except:
        print("에러가 나왔습니다.")

0.14285714285714285
0.16666666666666666
0.2
0.25
0.3333333333333333
0.5
1.0
에러가 나왔습니다.
-1.0
-0.5

In [267]:
a = int(input("3의 배수를 입력하세요.:"))
if a % 3 != 0:
    raise Exception("Value Error")
else:
    print(a)

3의 배수를 입력하세요.:2

Exception: Value Error

## 에러보는 법

In [268]:
a = range(10)[12]

IndexError: range object index out of range

```
a = range(10)[12]
```
```python
---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
Input In [268], in <cell line: 1>()
----> 1 a = range(10)[12]

IndexError: range object index out of range
```

인덱스 에러: 범주를 벗어남

In [270]:
a = range(10

SyntaxError: unexpected EOF while parsing (2282165109.py, line 1)

```
a = range(10
```

```python
  Input In [270]
    a = range(10
                ^
SyntaxError: unexpected EOF while parsing
```

EOF => 맨 끝이 이상해

## 깃허브

In [2]:
!git clone https://github.com/u128str/Netflix-Movie-Recommendation-System.git

Cloning into 'Netflix-Movie-Recommendation-System'...

## 코드 공부 사이트

프로젝트 오일러  
https://euler.synap.co.kr/

In [24]:
a = 0
b = 0
for i in range(1, 101):
    a += (i ** 2)
    b += i
    
print((b ** 2) - a)

25164150

## 딕셔너리

In [59]:
fruit_store = {"사과" : 800, "바나나" : 1000, "포도" : 2600}
fruit_store

{'사과': 800, '바나나': 1000, '포도': 2600}

In [60]:
fruit_store.keys()

dict_keys(['사과', '바나나', '포도'])

In [61]:
fruit_store.values()

dict_values([800, 1000, 2600])

In [62]:
for i in fruit_store.values():
    fruit_store2 = print(i * 0.9)

720.0
900.0
2340.0

In [63]:
for i in fruit_store:
    fruit_store2 = fruit_store[i] * 0.9
    fruit_store[i] = fruit_store2
fruit_store

{'사과': 720.0, '바나나': 900.0, '포도': 2340.0}

In [68]:
# 전국 사과 가격의 평균 구하기
ggg = {"서울점" : {"사과" : 800, "바나나" : 1000, "포도" : 800},
       "부산점" : {"사과" : 700, "바나나" : 900, "포도" : 900},
       "대구점" : {"사과" : 750, "바나나" : 800, "포도" : 1000}}

In [102]:
ggg.keys()

dict_keys(['서울점', '부산점', '대구점'])

In [101]:
a = ggg['서울점']['사과']
b = ggg['부산점']['사과']
c = ggg['대구점']['사과']

(a + b + c) / 3

750.0

In [118]:
n = 0
for i in ggg:
    n = n + ggg[i]["사과"]
print(n / len(ggg.keys()))

750.0

## 함수를 만들어 보자

```python
def add(x, y):
    return x + y
```

In [119]:
def add(x, y):
    return x + y

In [120]:
add(2, 3)

5

In [121]:
add("안녕", "하세요")

'안녕하세요'

In [123]:
def jegop (x, y):
    a = 0
    b = 0
    for i in range(x, y):
        a += i
        b += i ** 2
    print(a ** 2 -b)

In [124]:
jegop(1, 100)

24174150

In [125]:
jegop(1, 101)

25164150

In [3]:
A, B = map(int(input().split()))
print(A+B)

1 2

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'